/*******   BGcolor #f1f1f1  Orange #ed5564 */
WalletFrame {
border-image: url(':/images/drkblue_walletFrame_bg') 0 0 0 0 stretch stretch;
border-top:0px solid #000;
margin:0;
padding:0;
color: #4a4a4a !important;
}

QStatusBar {
    background-color: #b8b8b8;
    color: #252525;
    padding-left:4px;
}
.QFrame {
		background-color: transparent;
		border: 0px solid #fff;
}

QMenuBar {
	background-color: #fff;
}
QMenuBar::item {
	background-color: #fff;
	color: #333;
}
QMenuBar::item:selected {
	background-color: #f8f6f6;
}
QMenu {
	background-color: #f8f6f6;
}
QMenu::item {
	color: #333;
}
QMenu::item:selected {
	background-color: #f2f0f0;
	color: #333;
}

QToolBar {
background-color:#dbdbdb;
border:0px solid #000;
padding:0;
margin:0;
}

QToolBar > QToolButton {
background-color:#252525;
border:0px solid #333;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
min-height:2.5em;
padding: 0em 1em;
font-weight:bold;
color: #fff;
}

QToolBar > QToolButton:checked {
background-color:#ed5564;
font-weight:bold;
}

QMessageBox {
background-color:#f1f1f1;
}

/*******************************************************/

QLabel { /* Base Text Size & Color */
font-size:12px;
color: #4a4a4a;
}

.QCheckBox { /* Checkbox Labels */
color: #4a4a4a;
background-color:transparent;
}

.QCheckBox:hover {
background-color:transparent;
}

.QValidatedLineEdit, .QLineEdit { /* Text Entry Fields */
border: 1px solid #ed5564;
border-radius: 10px;
font-size:14px;
font-weight: bold;
min-height:25px;
outline:0;
padding:3px;
color: #4a4a4a;
background-color:transparent;
}

.QLineEdit:!focus {
font-size:12px;
}

.QValidatedLineEdit:disabled, .QLineEdit:disabled {
background-color:#f1f1f1;
}

/*******************************************************/

QPushButton {
	/* Global Button Style */
	background-color: #ed5564;
	padding: 0.85em 2em;
	font-family: "Montserrat";
	letter-spacing: 1px;
	border: 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 19px;
	text-transform: uppercase;
}
QPushButton:hover {
	background-color: #ee5959;
}
QPushButton:focus {
	border: none;
	outline: none;
}
QPushButton:pressed {
	border: 1px solid #333;
}

QComboBox { /* Dropdown Menus */
border-color:#ed5564;
border-radius:10px;
padding: 3px 5px 3px 5px;
background:#9b9b9b;
min-height:25px;
color: #4a4a4a;
background-color:#9b9b9b;

}

QComboBox:checked {
background:#9b9b9b;
}

QComboBox:editable {
background: #3398CC;
color: #4a4a4a;
border:0px solid transparent;
}

QComboBox::drop-down {
width:25px;
border:0px;
}

QComboBox::down-arrow {
border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;

}

QComboBox QListView {
border:1px solid #333;
color: #4a4a4a;
background-color:#9b9b9b;
padding-right:1px;
padding-left:1px;
}

QComboBox QAbstractItemView::item { margin:4px; }

QComboBox::item {
color: #4a4a4a;
}

QComboBox::item:alternate { background:#fff;}

QComboBox::item:selected {
border:0px solid transparent;
background:#f2f2f2
}

QComboBox::indicator {
background-color:transparent;
selection-background-color:transparent;
color:transparent;
selection-color:transparent;
}

QAbstractSpinBox {
border:1px solid #82C3E6;
padding: 3px 5px 3px 5px;
background:#fcfcfc;
min-height:25px;
color: #4a4a4a;
}

QAbstractSpinBox::up-button {
subcontrol-origin: border;
subcontrol-position: top right;
width:21px;
background:#fcfcfc;
background-color:transparent;
border-left:0px;
/*border-right:1px solid #82C3E6;*/
/*border-top:1px solid #82C3E6;*/
border-bottom:0px;
padding-right:1px;
padding-left:5px;
padding-top:2px;
}

QAbstractSpinBox::up-arrow {
image:url(':/images/upArrow_small');

}

QAbstractSpinBox::down-button {
subcontrol-origin: border;
subcontrol-position: bottom right;
width:21px;
background:#fcfcfc;
background-color:transparent;
border-top:0px;
border-left:0px;
/*border-right:1px solid #82C3E6;*/
/*border-bottom:1px solid #82C3E6;*/
padding-right:1px;
padding-left:5px;
padding-bottom:2px;
}

QAbstractSpinBox::down-arrow {
image:url(':/images/downArrow_small');


}

QCheckBox {
spacing: 5px;
}

QCheckBox::indicator {
width: 16px;
height: 16px;
}

QCheckBox::indicator:unchecked {
image:url(':/images/unchecked');
}

QCheckBox::indicator:unchecked:hover {
image:url(':/images/unchecked');
}

QCheckBox::indicator:unchecked:pressed {
image:url(':/images/checked');
}

QCheckBox::indicator:checked {
image:url(':/images/checked');
}

QCheckBox::indicator:checked:hover {
image:url(':/images/checked');
}

QCheckBox::indicator:checked:pressed {
image:url(':/images/unchecked');
}

QCheckBox::indicator:indeterminate:hover {
image:url(':/images/unchecked');
}

QCheckBox::indicator:indeterminate:pressed {
image:url(':/images/checked');
}

/*******************************************************/

QHeaderView { /* Table Header */
background-color:transparent;
}

QHeaderView::section { /* Table Header Sections */
/*qproperty-alignment:center;
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 0.25, stop: 0 #4c97bf, stop: 1 #56ABD8);
color: #4a4a4a;
min-height:25px;
font-weight:bold;
font-size:11px;
outline:0;
border:0px solid #fff;
border-right:1px solid #fff;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
*/
background-color: transparent;
color: #4a4a4a;
min-height:30px;
font-weight: bold;
font-size: 14px;
border: 0;
padding-left: 5px;
padding-right: 5px;
}

QHeaderView::section:last {
border-right: 0px solid #d7d7d7;
}

.QScrollArea {
background:transparent;
border:0px;
}

.QTableView,
#transactionView,
#tableWidgetMyMasternodes,
#tableWidgetMasternodes {
	/* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
	background: transparent;
	border: none;
	alternate-background-color:transparent ;
	padding-right: 12px;
}

QTableView::item {   /* Table Item */
background-color: transparent;
 background: transparent;
 color: #4a4a4a;
/*margin-right: 12px;*/
 }

QTableView::item:selected { /* Table Item Selected */
	background: #313d4b;
		color: #ffffff;
}

QScrollBar {
	/* Scroll Bar */
}
QScrollBar:vertical {
	/* Vertical Scroll Bar Attributes */
	border: 0;
	background: transparent;
	width: 12px;
    margin: 0;

}
QScrollBar:horizontal {
	/* Horizontal Scroll Bar Attributes */
	border: 0;
	background: transparent;
	height: 12px;
    /* margin: 0px 18px 0px 18px; */
    margin:0;

}
QScrollBar::handle:vertical {
	/* Scroll Bar Slider - vertical */
	background: #333b46;
    border-radius: 6px;
    min-height:50px;
    width:3px;
    /* border:2px solid transparent; */


}

QScrollBar::handle:horizontal {
	/* Scroll Bar Slider - horizontal */
	background: #333b46;
    min-width: 50px;
    border-radius: 6px;
}
QScrollBar::add-page,
QScrollBar::sub-page {
	/* Scroll Bar Background */
	background: transparent;
}
QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
	/* Define Arrow Button Dimensions */
	background: none;
	border: 0;
	width: 16px;
	height: 16px;
}
QScrollBar::add-line:vertical:pressed,
QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:horizontal:pressed,
QScrollBar::sub-line:horizontal:pressed {
	background-color: #e0e0e0;
}
QScrollBar::sub-line:vertical {
	/* Vertical - top button position */
	subcontrol-position: top;
	subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
	/* Vertical - bottom button position */
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	/* Vertical - left button position */
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal {
	/* Vertical - right button position */
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar:up-arrow,
QScrollBar:down-arrow,
QScrollBar:left-arrow,
QScrollBar:right-arrow {
	/* Arrows Icon */
	width: 10px;
	height: 10px;
	display: none;
	opacity: 0;
}
QScrollBar:up-arrow {
	background: none;
}
QScrollBar:down-arrow {
    /* background-image: url(':/images/downArrow_small'); */
    background: none;
}
QScrollBar:left-arrow {
    /* background-image: url(':/images/leftArrow_small'); */
    background: none;
}
QScrollBar:right-arrow {
    /* background-image: url(':/images/rightArrow_small'); */
    background: none;
}
QSlider::handle:horizontal {
	background-color: #8a8a8a;
	border: 0;
	border-radius: 6px;
}
QSlider::sub-page:horizontal {
	background-color: #414a55;
	border: 0;
	border-radius: 6px;
}
QSlider::add-page:horizontal {
	/* background-color:rgba(255, 255, 255, 0.08); */
	background-color: #222d3a;
	border: 0;
	border-radius: 6px;
}
/**************************** HIDE ARROWS **********************************************/

QScrollBar::add-line:vertical {
	height: 0px;
}
QScrollBar::sub-line:vertical {
	height: 0px;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
	height: 0px;
}

/*******************************************************/

/* DIALOG BOXES */



QDialog .QTabWidget {
/*border-bottom:1px solid #333;*/

}

QDialog .QTabWidget::pane {
/*border: 1px solid #d7d7d7;*/
}

QDialog .QTabWidget QTabBar::tab {
color: #4a4a4a;
font-size: 14px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
border-top-color:transparent;
border-left-color:transparent;
border-right-color:transparent;
}

QDialog .QTabWidget QTabBar::tab:first {
/*border-left: 1px solid #d7d7d7;*/
}

QDialog .QTabWidget QTabBar::tab:last {
/*border-right: 1px solid #d7d7d7;*/
}

QDialog .QTabWidget QTabBar::tab:selected {
  /*border-bottom: 4px solid #ed5564;*/
  /*background-color:transparent;*/
  color: #747c83;
}

 QDialog .QTabWidget QTabBar::tab:hover {
   color: #fff;
 }

QDialog .QTabWidget .QWidget {
background-color:#f1f1f1;
color: #4a4a4a;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox {
min-height:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
width:15px;
}

QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
width:15px;
}

QDialog .QTabWidget .QWidget QComboBox {
min-height:15px;
}

QDialog QWidget { /* Remove Annoying Focus Rectangle */
outline: 0;
}

/*******************************************************/
/* FILE MENU */

/* Dialog: Open URI */
QDialog#OpenURIDialog {
background-color:#f1f1f1;
}

QDialog#OpenURIDialog QLabel#label { /* URI Label */
font-weight:bold;
}

QDialog#OpenURIDialog QPushButton#selectFileButton { /* ... Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
color: #4a4a4a;
padding-left:10px;
padding-right:10px;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color: #4a4a4a;
}

QDialog#OpenURIDialog QPushButton#selectFileButton:pressed {
border:1px solid #9e9e9e;
}

/* Dialog: Sign / Verify Message */
QDialog#SignVerifyMessageDialog {
background-color:#f1f1f1;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM { /* Address Book Button */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPlainTextEdit { /* Message Signing Text */
border: 1px solid #ed5564;
border-radius: 5px;
background-color: #f1f1f1;
color: #4a4a4a;
}

QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM { /* Paste Button */
/* qproperty-icon: url(":/icons/drkblue_editpaste"); */
background-color:transparent;
padding-left:15px;
}

QDialog#SignVerifyMessageDialog QLineEdit:!focus { /* Font Hack */
font-size:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM { /* Copy Button */
/* qproperty-icon: url(":/icons/drkblue_editcopy"); */
background-color:transparent;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM { /* Clear Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
  background-color: #707780;
  color: #132232;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
	border: 1px solid #9e9e9e;
}

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM { /* Verify Message - Address Book Button */
background-color:transparent;
border:0;
padding-left:10px;
padding-right:10px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM { /* Verify Message - Clear Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
  background-color: #707780;
  color: #132232;
}

QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
	border: 1px solid #9e9e9e;
}

/* Dialog: Send and Receive */
QWidget#AddressBookPage {
background-color:#f1f1f1;
}

QWidget#AddressBookPage QPushButton#newAddress { /* New Address Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QWidget#AddressBookPage QPushButton#newAddress:hover {
  background-color: #707780;
  color: #132232;
}

QWidget#AddressBookPage QPushButton#newAddress:pressed {
border: 1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#copyAddress { /* Copy Address Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QWidget#AddressBookPage QPushButton#copyAddress:hover {
  background-color: #707780;
  color: #132232;
}

QWidget#AddressBookPage QPushButton#copyAddress:pressed {
border: 1px solid #9e9e9e;
}

QWidget#AddressBookPage QPushButton#deleteAddress { /* Delete Address Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QWidget#AddressBookPage QPushButton#deleteAddress:hover {
  background-color: #707780;
  color: #132232;
}

QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
border: 1px solid #9e9e9e;
}

QWidget#AddressBookPage QTableView { /* Address Listing */
background-color: #f1f1f1;
font-size:12px;
}

QWidget#AddressBookPage QHeaderView::section { /* Min width for Windows fix */
background-color: transparent;
color: #4a4a4a;
min-width:260px;
}

/* SETTINGS MENU */

/* Encrypt Wallet and Change Passphrase Dialog */
QDialog#AskPassphraseDialog {
background-color: #f1f1f1;
}

QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:170px;
min-height:33px; /* base width of 25px for QLineEdit, plus padding and border */
}

/* Options Dialog */
QDialog#OptionsDialog {
background-color:#f1f1f1;
}

QDialog#OptionsDialog QValueComboBox, QDialog#OptionsDialog QSpinBox {
  background-color:#9b9b9b;
  min-width:102px;
  font-weight:bold;
  border-radius:10px;
  font-size:12px;
  color:#4a4a4a;
  min-height:25px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right:5px;
  padding-right:5px;;
}

QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
qproperty-alignment: 'AlignVCenter | AlignLeft';
background-color: transparent;
background: transparent;
min-height:20px;
margin-top:0px;
margin-bottom:0px;
padding-top:1px;
padding-bottom:1px;
}

QDialog#OptionsDialog > QLabel {
qproperty-alignment: 'AlignVCenter';
min-height:20px;
}

QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
margin-top:0px;
margin-bottom:0px;
}

QDialog#OptionsDialog QLabel#label_3 { /* Translations Missing? Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
color: #4a4a4a;
padding-bottom:8px;
}

QDialog#OptionsDialog QCheckBox {
min-height:20px;
}

QDialog#OptionsDialog QCheckBox#displayAddresses {
min-height:33px;

}

/* TOOLS MENU */

QWidget#RPCConsole QTabWidget {
background-color: #f1f1f1;
}


/* HELP MENU */

/* Command Line Options Dialog */
QDialog#HelpMessageDialog {
  background-color: #f1f1f1;
  }

  QTextEdit#helpMessage {
    background-color: transparent;
    color: #4a4a4a;
    border: 0;

  }

QDialog#HelpMessageDialog QScrollArea#scrollArea {
	background-color: #f1f1f1;
}

QDialog#HelpMessageDialog QScrollBar:vertical,
QDialog#HelpMessageDialog QScrollBar:horizontal {
	border: 0;
}

/* About TNY Dialog */
QDialog#AboutDialog {
background-color:#f1f1f1;
}

QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 { /* About TNY Contents */
margin-left:10px;
}

QDialog#AboutDialog QLabel#label_2 { /* Margin for About TourneyCoin text */
background-color: #f1f1f1;
margin-right:10px;
}

QDialog#HelpMessageDialog QLabel#aboutMessage { /* Margin for About TourneyCoin text */
background-color: #f1f1f1;
margin-right:10px;
}

QDialog#HelpMessageDialog QWidget#scrollAreaWidgetContents { /* Margin for About TourneyCoin text */
background-color: #f1f1f1;

}

/* Edit Address Dialog */
QDialog#EditAddressDialog {
background-color: #f1f1f1;
}

QDialog#EditAddressDialog QLabel {
qproperty-alignment: 'AlignVCenter | AlignRight';
min-height:27px;
font-weight:normal;
padding-right:5px;
}

/* OVERVIEW SCREEN */

QWidget .QFrame#frame { /* Wallet Balance */
min-width:490px;
}

QWidget .QFrame#frame > .QLabel {
min-width:190px;
font-weight:normal;
min-height:30px;
}

QWidget .QFrame#frame .QLabel#label_5 { /* Wallet Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:transparent;
color: #4a4a4a;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QPushButton#labelWalletStatus { /* Wallet Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
color: red;
background-color: transparent;
font-weight: lighter;
font-size: 10px;
border: 0;
margin-left:3px;
}
QWidget .QFrame#frame_2 .QPushButton#labelTransactionsStatus { /* Wallet Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
color: red;
background-color: transparent;
font-size: 10px;
font-weight: lighter;
border: 0;
margin-top: 83px;
margin-left:3px;
}




QWidget .QFrame#frame .QLabel#labelSpendable { /* Spendable Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:18px;
}

QWidget .QFrame#frame .QLabel#labelWatchonly { /* Watch-only Header */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelBalanceText { /* Available Balance Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
background-color:#9b9b9b;
color: #4a4a4a;
margin-right:5px;
border-radius: 10px;
padding-right:5px;
font-weight:bold;
font-size:14px;
min-height:35px;
}

QWidget .QFrame#frame .QLabel#labelBalance { /* Available Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:18px;
font-weight:normal;
color: #4a4a4a;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchAvailable { /* Watch-only Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelPendingText { /* Pending Balance Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelUnconfirmed { /* Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:18px;
color: #4a4a4a;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchPending { /* Watch-only Pending Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelImmatureText { /* Immature Balance Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelImmature { /* Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:18px;
color: #4a4a4a;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchImmature { /* Watch-only Immature Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

QWidget .QFrame#frame .QLabel#labelTotalText { /* Total Balance Label */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#frame .QLabel#labelTotal { /* Total Balance */
qproperty-alignment: 'AlignVCenter | AlignRight';
font-size:24px;
color: #4a4a4a;
margin-left:0px;
}

QWidget .QFrame#frame .QLabel#labelWatchTotal { /* Watch-only Total Balance */
qproperty-alignment: 'AlignVCenter | AlignLeft';
font-size:12px;
margin-left:16px;
}

/* PRIVATESEND WIDGET */

QWidget .QFrame#framePrivateSend { /* PrivateSend Widget */
background-color: transparent;
/*border-radius: 10px;*/
max-width: 451px;
min-width: 451px;
max-height: 350px;
}

QWidget .QFrame#framePrivateSend .QWidget#layoutWidgetPrivateSendHeader { /* PrivateSend Header */
max-width: 421px;
min-width: 421px;
}

QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendHeader { /* PrivateSend Header */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color:#ed5564;
margin-right:5px;
padding-right:5px;
min-height:35px;
max-height:35px;
}
/******************************************************************/
QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendSyncStatus { /* PrivateSend Sync Status */
qproperty-alignment: 'AlignVCenter | AlignLeft';
margin-left:2px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget {
max-width: 451px;
max-height: 175px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget > .QLabel {
min-width:175px;
font-weight:normal;
color: #4a4a4a;
min-height:25px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelPrivateSendEnabledText { /* PrivateSend Status Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelPrivateSendEnabled { /* PrivateSend Status */
color: #4a4a4a;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelCompletitionText { /* PrivateSend Completion Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;

}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QProgressBar#privateSendProgress { /* PrivateSend Completion */
/*border: 1px solid #818181;
border-radius: 1px;
margin-right:43px;
text-align: right;
color: #4a4a4a;
*/
border: 1px solid gray;
border-radius: 3px;
background: white;
padding: 1px;
}


QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QProgressBar#privateSendProgress::chunk {
/*background-color: #3398CC;
width:1px;
*/
background: qlineargradient(x1: 0, y1: 0.5, x2: 1, y2: 0.5, stop: 0 red, stop: 1 white);
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAnonymizedText { /* PrivateSend Balance Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
background-color:#F8F6F6;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAnonymized { /* PrivateSend Balance */

}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAmountAndRoundsText { /* PrivateSend Amount and Rounds Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
/*background-color:#F8F6F6;*/
background-color: #f1f1f1;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAmountRounds { /* PrivateSend Amount and Rounds */

}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelSubmittedDenomText { /* PrivateSend Submitted Denom Label */
qproperty-alignment: 'AlignVCenter | AlignRight';
min-width:160px;
/*background-color:#F8F6F6;*/
background-color: #f1f1f1;
margin-right:5px;
padding-right:5px;
}

QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelSubmittedDenom { /* PrivateSend Submitted Denom */

}

QWidget .QFrame#framePrivateSend .QWidget#layoutWidgetLastMessageAndButtons {
max-width: 451px;
}

QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendLastMessage { /* PrivateSend Status Notifications */
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width: 288px;
min-height: 43px;
font-size:11px;
color: #4a4a4a;
}

/* PRIVATESEND BUTTONS */

QWidget .QFrame#framePrivateSend .QPushButton { /* PrivateSend Buttons - General Attributes */
border:0px solid #ffffff;
}

QWidget .QFrame#framePrivateSend QPushButton:focus {
border:none;
outline:none;
}

QWidget .QFrame#framePrivateSend .QPushButton#togglePrivateSend { /* Start PrivateSend Mixing */
font-size:15px;
font-weight:bold;
background-color:#ed5564;
border-radius:10px;
color: #4a4a4a;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:6px;
}

QWidget .QFrame#framePrivateSend .QPushButton#togglePrivateSend:hover {

}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendAuto { /* Try Mix Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
border-radius: 5px;
color: #4a4a4a;
min-height:25px;
font-size:9px;
padding:0px;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendAuto:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color: #4a4a4a;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendAuto:pressed {
border:1px solid #9e9e9e;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendReset { /* Reset Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
border-radius: 5px;
color: #4a4a4a;
min-height:25px;
font-size:9px;
padding:0px;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendReset:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color: #4a4a4a;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendReset:pressed {
border:1px solid #9e9e9e;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo { /* Info Button */
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
border:1px solid #d2d2d2;
border-radius: 5px;
color: #4a4a4a;
min-height:25px;
font-size:9px;
padding:0px;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo:hover {
background-color:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
color: #4a4a4a;
}

QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo:pressed {
border:1px solid #9e9e9e;
}

/* RECENT TRANSACTIONS */

QWidget .QFrame#frame_2 { /* Transactions Widget */
min-width:410px;
margin-right:20px;
margin-left:0;
margin-top:0;
background-image: url(':/images/tny_logo_horizontal');
background-repeat:none;
background-position:center top;
}

QWidget .QFrame#frame_2 .QLabel#label_4 { /* Recent Transactions Label */
min-width:180px;
color: #4a4a4a;
margin-left:67px;
margin-top:83px;
margin-right:5px;
padding-right:5px;
font-weight:normal;
font-size:18px;
min-height:24px;
}

QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { /* Recent Transactions Sync Status */
  qproperty-alignment: 'AlignVCenter | AlignLeft';
  color: red;
  background-color: transparent;
  font-size: 10px;
  border: 0;
  margin-left:3px;
}

QWidget .QFrame#frame_2 QListView { /* Transaction List */
font-weight: bold;
font-size:12px;
color: #4a4a4a;
max-width:369px;
margin-top:12px;
margin-left:0px; /* CSS Voodoo - set to -66px to hide default transaction icons */
}

/* MODAL OVERLAY */

/* MODAL OVERLAY */

  QWidget#bgWidget { /* The 'frame' overlaying the overview-page */
    background-color:#f1f1f1 ;
      color:#4a4a4a;
      padding-left:10px;
      padding-right:10px;
  }

  QWidget#bgWidget .QPushButton#warningIcon {
  width:64px;
  height:64px;
  padding:5px;
  background-color:transparent;
  }

  QWidget#contentWidget { /* The actual content with the text/buttons/etc... */
  background-color: #f1f1f1 ;
  border-top:0px solid #ffffff;
  margin:0;
  padding-top:20px;
  padding-bottom: 20px;
  }

  QWidget#bgWidget .QPushButton#closeButton {

  }

/* SEND DIALOG */

QDialog#SendCoinsDialog .QFrame#frameCoinControl { /* Coin Control Section */

}

QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel { /* Default Font Color and  Size */
font-weight:normal;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QPushButton#pushButtonCoinControl { /* Coin Control Inputs Button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures { /* Coin Control Header */
color: #4a4a4a;
font-weight:bold;
font-size:14px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl { /* Coin Control Inputs */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel { /* Coin Control Inputs Labels */
padding:2px;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl  { /* Custom Change Label */
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QValidatedLineEdit#lineEditCoinControlChange { /* Custom Change Address */
background-color: transparent;
border-radius: 10px;
border-color: #ed5564;
color: #4a4a4a;
font-size: 14px;
font-weight: bold;
}

QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel { /* Custom Change Address Validation Label */
font-weight:normal;
qproperty-margin:-6;
margin-right:112px;
}

QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents { /* Send To Widget */
background:transparent;
}

QDialog#SendCoinsDialog .QPushButton#sendButton { /* Send Button */
padding-left:10px;
padding-right:10px;
}

QDialog#SendCoinsDialog .QPushButton#clearButton {
	/* Clear Button */

}
QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
	background-color: #707780;
	color: #132232;
}
QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
	border: 1px solid #9e9e9e;
}
QDialog#SendCoinsDialog .QPushButton#addButton {
	/* Add Button */
	background-color: transparent;
	border: 2px solid #707780;
	color: #707780;
	padding-left: 20px;
	padding-right: 20px;
}
QDialog#SendCoinsDialog .QPushButton#addButton:hover {
	background-color: #707780;
	color: #132232;
}
QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
	border: 1px solid #9e9e9e;
}

QDialog#SendCoinsDialog .QCheckBox#checkUsePrivateSend { /* PrivateSend Checkbox */
color: #4a4a4a;
font-weight:bold;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
}

QDialog#SendCoinsDialog .QCheckBox#checkUseInstantSend { /* InstantSend Checkbox */
color: #4a4a4a;
font-weight:bold;
/*background: qradialgradient(cx:0.5, cy:0.5, radius: 0.5, fx:0.5, fy:0.5, stop:0 rgba(248, 246, 246, 128), stop: 1 rgba(0, 0, 0, 0));*/
border-radius:5px;
padding-top:20px;
padding-bottom:18px;
margin-left:10px;
margin-right:20px;
}

/* This QLabel uses name = "label" which conflicts with Address Book -> New Address */
/* To maximize backwards compatibility this formatting has been removed */

QDialog#SendCoinsDialog QLabel#label {
color: #4a4a4a;
/*margin-left:20px;
margin-right:-2px;
padding-right:-2px;
color: #4a4a4a;
font-size:14px;
font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px;*/
min-height:27px;
}

QDialog#SendCoinsDialog QLabel#labelBalance {
margin-left:0px;
padding-left:0px;
color: #4a4a4a;
/* font-weight:bold;
border-radius:5px;
padding-top:20px;
padding-bottom:20px; */
min-height:27px;
}

#checkboxSubtractFeeFromAmount {
color: #4a4a4a;
padding-left:1px;
}

/* SEND COINS ENTRY */

QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel { /* Send Coin Entry Labels */
background-color:#9b9b9b;
min-width:102px;
font-weight:bold;
border-radius:10px;
font-size:12px;
color: #4a4a4a;
min-height:25px;
margin-right:5px;
padding-right:5px;
}

QStackedWidget#SendCoinsEntry .QFrame#SendCoins .QLabel#amountLabel {
background-color:#9b9b9b;
min-width:102px;
font-weight:bold;
border-radius:10px;
font-size:12px;
color: #4a4a4a;
min-height:25px;
margin-right:5px;
padding-right:5px;

}

.TNYAmountField#payAmount {
  color: #4a4a4a;
}
QHBoxLayout#horizontalLayoutAmount .TNYAmountField#payAmount {
  color: #4a4a4a;
}

QStackedWidget#SendCoinsEntry .QValidatedLineEdit#payTo { /* Pay To Input Field */
background-color:transparent;
border-color:#ed5564;
border-radius:10px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
}



QStackedWidget#SendCoinsEntry .QToolButton { /* General Settings for Pay To Icons */
background-color:transparent;
padding-left:5px;
padding-right:5px;
border: 0;
outline: 0;
}


QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton { /* Address Book Button */
padding-left:10px;
background-color: #4a4a4a;
}

QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton {
}

QStackedWidget#SendCoinsEntry .QToolButton#pasteButton {
background-color: #4a4a4a;
}

QStackedWidget#SendCoinsEntry .QToolButton#deleteButton {
background-color: #4a4a4a;
}

QStackedWidget#SendCoinsEntry .QLineEdit#addAsLabel { /* Pay To Input Field */
background-color:transparent;
border-color:#ed5564;
border-radius:10px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
}

/* COIN CONTROL POPUP */

QDialog#CoinControlDialog { /* Coin Control Dialog Window */
background-color: #f1f1f1;
color: #4a4a4a;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText { /* Coin Control Quantity Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity { /* Coin Control Quantity */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText { /* Coin Control Bytes Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlBytes { /* Coin Control Bytes */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText { /* Coin Control Amount Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAmount { /* Coin Control Amount */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText { /* Coin Control Priority Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlPriority { /* Coin Control Priority */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText { /* Coin Control Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlFee { /* Coin Control Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText { /* Coin Control Low Output Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput { /* Coin Control Low Output */
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText { /* Coin Control After Fee Label */
min-height:30px;
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee { /* Coin Control After Fee */
min-height:30px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText { /* Coin Control Change Label */
padding-left:15px;
}

QDialog#CoinControlDialog .QLabel#labelCoinControlChange { /* Coin Control Change */

}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonSelectAll { /* (un)select all button */
padding-left:10px;
padding-right:10px;
min-height:25px;
background-color: red;
}

QDialog#CoinControlDialog .QFrame#frame .QPushButton#pushButtonToggleLock { /* Toggle lock state button */
padding-left:10px;
padding-right:10px;
min-height:25px;
}

QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QPushButton { /* Coin Control 'OK' button */
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode { /* Coin Control Tree Mode Selector */
color: #4a4a4a;
background-color:transparent;
}

QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode { /* Coin Control List Mode Selector */
color: #4a4a4a;
background-color:transparent;
}

QDialog#CoinControlDialog QHeaderView::section:first { /* Bug Fix: the number "1" displays in this table for some reason... */
color:transparent;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget { /* Coin Control Widget Container */
outline:0;
background-color:#ffffff;
border:0px solid #818181;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected { /* Coin Control Item (selected) */
background-color:#f7f7f7;
color: #4a4a4a;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked { /* Coin Control Item (checked) */
background-color:#f7f7f7;
color: #4a4a4a;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { /* Coin Control Branch Icon */
background-image: url(':/images/drkblue_qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color: #4a4a4a;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { /* Coin Control Branch Icon */
background-image: url(':/images/drkblue_qtreeview_selected');
background-repeat:no-repeat;
background-position:center;
background-color:#f7f7f7;
color: #4a4a4a;
}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {

}

QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator { /* Coin Control Widget Checkbox */

}

/* RECEIVE COINS */

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_2 { /* Label Label */
  min-width:160px;
  font-size:14px;
  font-weight:bold;
  color:#4a4a4a;
  border-radius: 10px;
  background-color:#9b9b9b;
  margin-right:5px;
  padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label { /* Amount Label */
  min-width:160px;
  font-size:14px;
  font-weight:bold;
  color:#4a4a4a;
  border-radius: 10px;
  background-color:#9b9b9b;
  margin-right:5px;
  padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel#label_3 { /* Message Label */
  min-width:160px;
  font-size:14px;
  font-weight:bold;
  color:#4a4a4a;
  border-radius: 10px;
  background-color:#9b9b9b;
  margin-right:5px;
  padding-right:5px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton { /* Clear Button */
  background-color: transparent;
	border: 2px solid #707780;
	color: #4a4a4a;
	padding-left: 20px;
	padding-right: 20px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
  background-color: #707780;
	color: #132232;
}

QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
border: 1px solid #9e9e9e;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton { /* Show Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #4a4a4a;
  padding-left: 20px;
  padding-right: 20px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:hover {
  background-color: #707780;
  color: #132232;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#showRequestButton:pressed {
  background-color: #707780;
  color: #132232;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton { /* Remove Button */
  background-color: transparent;
  border: 2px solid #707780;
  color: #707780;
  padding-left: 20px;
  padding-right: 20px;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
  background-color: #707780;
  color: #132232;
}

QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
  background-color: #707780;
  color: #132232;
}

QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 { /* Requested Payments History Label */
color: #4a4a4a;
font-weight:bold;
font-size:14px;
}

/**************************** RECEIVE COINS DIALOG **************************************/
QDialog#ReceiveRequestDialog {
  background-color: #f1f1f1;
}

QDialog#ReceiveRequestDialog QTextEdit {
	/* Contents of Receive Coin Dialog */
	border: 0;
	background-color: #f1f1f1;
	color:#4a4a4a;
}

/* General QR-code DIALOG */

QDialog#QRDialog {
background-color: #f1f1f1;
color: #4a4a4a;
}

QDialog#QRDialog QTextEdit { /* Contents of QR-code Dialog */
border:1px solid #d7d7d7;
}

/* TRANSACTIONS PAGE */

TransactionView QLineEdit { /* Filters */
	background-color:transparent;
	border-color:#ed5564;
	border-radius:10px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	min-height:25px;
	margin-right:5px;
	padding-right:5px;
}

TransactionView QLineEdit#addressWidget { /* Address Filter */
	background-color:transparent;
	border-color:#ed5564;
	border-radius:10px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin-bottom:2px;
	margin-right:1px;
	min-width:405px;
	text-align:center;
}

TransactionView QLineEdit#amountWidget { /* Amount Filter */
	background-color:transparent;
	border-color:#ed5564;
	border-radius:10px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin-bottom:2px;
	margin-right:1px;
	max-width:100px;
	text-align:center;
}

TransactionView QComboBox {
margin-bottom:1px;
margin-right:1px;
}

QLabel#transactionSumLabel { /* Example of setObjectName for widgets without name */
color: #4a4a4a;
font-weight:bold;
}

QLabel#transactionSum { /* Example of setObjectName for widgets without name */
color: #4a4a4a;
}

/* TRANSACTION DETAIL DIALOG */


QDialog#TransactionDescDialog QTextEdit {
background-color: #f1f1f1;
border:1px solid #d7d7d7;
color: #4a4a4a;
}

QPushButton#pushButton_Website {
background-color:transparent;
}
QPushButton#pushButton_Discord {
background-color:transparent;
}
QPushButton#pushButton_Telegram {
background-color:transparent;
}
QPushButton#pushButton_Twitter {
background-color:transparent;
}
QPushButton#pushButton_Explorer {
background-color:transparent;
}
QPushButton#pushButton_Btctalk {
background-color:transparent;
}

QPushButton#useAvailableBalanceButton { /* Use Available Button */
margin-left:40px;
}

QLabel#labelFeeHeadline {
color: #4a4a4a;
}

QLabel#labelFeeMinimized {
color: #4a4a4a;
}

QLabel#labelPrivateSendEnabledText { /*test*/
/*color: #f2f2f2;*/
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}

QLabel#labelPrivateSendEnabled {
color: #4a4a4a;
font-size: 14px;
}

QLabel#labelCompletitionText {/*test*/
  /*color: #f2f2f2;*/
  qproperty-alignment: 'AlignVCenter | AlignCenter';
  min-width:160px;
  font-size:14px;
  font-weight:bold;
  color:#ffffff;
  border-radius: 10px;
  background-color:#9b9b9b;
  margin-right:5px;
  padding-right:5px;
}
QLabel#labelAnonymizedText {/*test*/
  /*color: #f2f2f2;*/
  qproperty-alignment: 'AlignVCenter | AlignCenter';
  min-width:160px;
  font-size:14px;
  font-weight:bold;
  color:#ffffff;
  border-radius: 10px;
  background-color:#9b9b9b;
  margin-right:5px;
  padding-right:5px;
  }
QLabel#labelAnonymized {
  color: #ed5564;
  font-size: 14px;
}

QLabel#labelAmountAndRoundsText {/*test*/
/*  color: #f2f2f2;*/
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}
QLabel#labelAmountRounds {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
}

QLabel#labelSubmittedDenomText {/*test*/
/*  color: #f2f2f2;*/
qproperty-alignment: 'AlignVCenter | AlignCenter';
min-width:160px;
font-size:14px;
font-weight:bold;
color: #4a4a4a;
border-radius: 10px;
background-color:#9b9b9b;
margin-right:5px;
padding-right:5px;
}
QLabel#labelSubmittedDenom {
  font-size: 14px;
  color: #f2f2f2;
}

QObject#privateSendProgress {
  font-size: 14px;
  color: #f2f2f2;
}

QLabel#labelPrivateSendLastMessage {
  font-size: 14px;
}

QLabel {
	/* Base Text Size & Color */
	color: #4a4a4a;
	/* background: rgba(0, 0, 0, 0.2);
    border-radius: 2rem; */
	margin-bottom: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: "Hind";
	font-weight: normal;
}
QWidget {
	selection-background-color: #4b4b4b;
	/* Object highlight color */
	selection-color: #fff;
	outline: 0;
	/* Remove Annoying Focus Rectangle */
}
QTabWidget {
    /* background-color: #f2f2f2; */
    background-color:transparent;
}
QTabWidget::pane {
    /* background-color: #f2f2f2; */
    background-color:transparent;
    /* border: 1px solid #c2c2c2; */
    border:0;
}
QTabBar {
	background-color: transparent;;
	color: #4a4a4a;
}
QTabBar::tab:hover:!selected {
    color:#fff;
}
QTabBar::tab {
  color:#747c83;
  font-size:14px;
  background-color:transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100px;
  border-top-color:transparent;
  border-left-color:transparent;
  border-right-color:transparent;
}

QTabBar::tab:selected {
    border-bottom: 3px solid #ed5564;
    background-color:transparent;
    }
QTabBar::tab:pressed {
    outline:0;
}

QWidget#tabAllMasternodes {
  background-color: transparent;
  }

.QRadioButton {
color: #4a4a4a;
}
QGroupBox {
    background-color: transparent;
    color: #4a4a4a;
    border:0;
    outline:0;
  }
